* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Header */
header {
  background-color: black;
  text-align: center;
}

header h2 {
  color: red;
  text-transform: uppercase;
}

header p {
  color: white;
}

header span {
  font-weight: bold;
}

/* Main */
main {
  background-image: url('img/bg.png');
}

main .h-tube {
  width: 100%;
}

main .h-tube::after {
  content:'';
  display: table;
  clear: both;
}

main .h-tube img {
  width: 50%;
  height: 20px;
  float: left;
}

main .v-tube-left {
  background-image: url('img/v_grey_tube.jpg');
  background-repeat: no-repeat;
  background-position: right;
  height: 80px;
}

main .v-tube-right {
  background-image: url('img/v_grey_tube.jpg');
  background-repeat: no-repeat;
  background-position: left;
  height: 80px;
}

main .v-tube-right.knot,
main .v-tube-left.knot {
  background-image: url('img/knot_tube.jpg');
}

main .small {
  height: 30px;
}

main .bricks {
  border: 1px solid black;
  height: 30px;
}

main .grey {
  background-color: grey;
}

main .red {
  background-color: red;
}

main .yellow {
  background-color: yellow;
}

main .blue {
  background-color: blue;
}

main .pink {
  background-color: pink;
}

main .green {
  background-color: green;
}

/* Footer */
footer {
  background-color: black;
  color: white;
}

footer span {
  color: red;
  font-weight: bold;
}

footer img {
  width: 80%;
}
