* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Header */
header {
  background-color: black;
  text-align: center;
}

header h2 {
  color: red;
  text-transform: uppercase;
  font-size: 30px;
  padding: 15px 0;
}

header .col-offset-2 > p {
  font-size: 15px;
  font-style: italic;
}

header p {
  color: white;
  padding: 20px 0;
  font-size: 18px;
  margin-bottom: 10px;
}

header span {
  font-weight: bold;
  color: red;
}

header .high-score-number p {
  font-weight: bold;
}

/* Main */
main {
  background-image: url('img/bg.png');
}

main .h-tube {
  width: 100%;
}

main .h-tube::after {
  content:'';
  display: table;
  clear: both;
}

main .h-tube img {
  width: 50%;
  height: 20px;
  float: left;
  margin-top: 20px;
}

/* Main - Section - Bricks Wall */
main .v-tube-left {
  background-image: url('img/v_grey_tube.jpg');
  background-repeat: no-repeat;
  background-position: right;
  height: 80px;
}

main .v-tube-right {
  background-image: url('img/v_grey_tube.jpg');
  background-repeat: no-repeat;
  background-position: left;
  height: 80px;
}

main .v-tube-right.knot,
main .v-tube-left.knot {
  background-image: url('img/knot_tube.jpg');
}

main .small {
  height: 30px;
}

main .bricks {
  border: 1px solid black;
  height: 30px;
  box-shadow: 8px 10px 20px 4px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

main .grey {
  background-color: grey;
}

main .red {
  background-color: red;
}

main .yellow {
  background-color: yellow;
}

main .blue {
  background-color: blue;
}

main .pink {
  background-color: pink;
}

main .green {
  background-color: green;
}

/* Main - Section - Bottom */
#ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E0F2F7;
  border: 2px solid black;
  box-shadow: 20px 15px 8px 2px rgba(0, 0, 0, 0.8);
}

main .paddles-row {
  height: 80px;
  position: relative;
}

main #paddle {
  width: 100%;
  height: 18px;
  position: absolute;
  bottom: 20px;
  box-shadow: 15px 10px 6px 2px rgba(0, 0, 0, 0.8);
}

#paddle::after {
  content: '';
  display: table;
  clear: both;
}

#paddle .grey-body {
  background-color: #D8D8D8;
  width: 70%;
  height: 18px;
  float:left;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#paddle .paddle-red {
  background-color: #DF0101;
  width: 15%;
  height: 18px;
  float: left;
}

#paddle .paddle-red.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#paddle .paddle-red.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Footer */
footer {
  background-color: black;
  color: white;
}

footer .player {
  padding-top: 30px;
}

footer span {
  color: red;
  font-weight: bold;
}

footer img {
  width: 90%;
}
